// max width 1536px
@media (max-width: 1536px) {
    .d-2xl-none {
        display: none;
    }
    .d-2xl-block {
        display: block;
    }
    .d-2xl-flex {
        display: flex;
    }
    .d-2xl-grid {
        display: grid;
    }
    .newspapers {
        &-container {
            .content {
                .left {
                    padding: 80px 50px 40px;
                    .logo {
                        img {
                            height: 90px;
                            width: auto;
                        }
                    }
                    .sapo {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
// max width 1280px
@media (max-width: 1280px) {
    .d-xl-none {
        display: none;
    }
    .d-xl-block {
        display: block;
    }
    .d-xl-flex {
        display: flex;
    }
    .d-xl-grid {
        display: grid;
    }
}
// max width 1024px
@media (max-width: 1024px) {
    .d-lg-none {
        display: none;
    }
    .d-lg-block {
        display: block;
    }
    .d-lg-flex {
        display: flex;
    }
    .d-lg-grid {
        display: grid;
    }

    .newspapers {
        &-container {
            flex-direction: column;

            .sidebar {
                order: 2;
                width: 100%;
                // height: auto;
                padding-top: 40px;

                .back-home {
                    position: fixed;
                    z-index: 20;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin-bottom: 0;
                }
            }
            .content {
                order: 1;
                width: 100%;
                height: auto;
                overflow: unset;
                display: block;
                padding: 10px;

                .left {
                    padding: 20px;
                    width: 100%;
                    height: auto;
                    display: none;
                }

                .right {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

// max width 768px
@media (max-width: 768px) {
    .d-md-none {
        display: none;
    }
    .d-md-block {
        display: block;
    }
    .d-md-flex {
        display: flex;
    }
    .d-md-grid {
        display: grid;
    }
}

// max width 640px
@media (max-width: 640px) {
    .d-sm-none {
        display: none;
    }
    .d-sm-block {
        display: block;
    }
    .d-sm-flex {
        display: flex;
    }
    .d-sm-grid {
        display: grid;
    }
    .newspapers {
        &-container {
            .sidebar {
                padding-top: 20px;
                .list {
                    height: calc(100% - 50px);
                }
            }
            .content {
                .swiper-button-next:after,
                .swiper-rtl .swiper-button-prev:after,
                .swiper-button-prev:after,
                .swiper-rtl .swiper-button-next:after {
                    font-size: 15px;
                }
            }
        }
    }
}
// max width 400px
@media (max-width: 400px) {
    .newspapers {
        &-container {
            .sidebar {
                .list {
                    height: calc(100% - 40px);
                }
            }
        }
    }
}
